/*Colors:
  Gray: #4A6881
  Pink: #DF5160
  White: #C6CECC
  Lt. Blue: #5AB2B5
  Dk. Blue: #1E3B4B*/

/*video{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url(./media/background.jpg)no-repeat;
  background-size: cover;
  opacity: .7;
}*/

.backImage{
  opacity: 0.65;
}

.overlay {
    position: relative;
    text-align: center;
    color: #1E3B4B;
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

@media screen and (max-width: 768px){
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
}

@media screen (min-width: 769px) and (max-width: 999px){
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
}

.pulsate{
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}

.navColor{
  background-color: transparent;
  z-index: 1;
  width: 100%;
  position: absolute;
}

a.linkFont:hover {
  background-color: transparent;
  color: #DF5160;
}

.volunteerBack {
   background-color: #1E3B4B;
   color: white;
}

.aboutBack {
  background-color: #5AB2B5;
  color: white;
}

.whiteFont {
  color: white;
}

.centerText {
  text-align: left;
}

.rightText {
  text-align: right;
}

@media screen and (max-width: 999px){
  .burgerMenu {
    background-color: white;
  }
}

#dashboard-cap {
  border: 3px solid #132833;
}